@font-face {
  font-family: Roboto Regular;
  font-weight: normal;
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Balsamiq Sans Bold;
  font-weight: bold;
  src: url("fonts/BalsamiqSans-Bold.ttf");
}

@font-face {
  font-family: Flowext Bold;
  font-weight: bold;
  src: url("fonts/flowext bold.otf ");
}

@font-face {
  font-family: Flowext;
  font-weight: normal;
  src: url("fonts/flowext.otf");
}

body {
  width: 1200px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  color: darkblue;
}

.visually-hidden {
  display: none;
}

.main-header {
  width: 1200px;
  height: 550px;
  margin: 0 auto;
  background-image: url("img/bg-header_photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  display: inline-block;
  background-color: rgb(158, 198, 231);
  width: 130px;
  height: 50px;
  color: white;
  font-family: Flowext, sans-serif;
  font-size: 24px;
  margin-top: 55px;
  margin-left: 50px;
  border-radius: 65px / 35px;
  text-align: center;
  padding-top: 20px;
}

.main-header-title {
  text-align: center;
  font-family: Flowext, sans-serif;
  color: darkblue;
  font-size: 36px;
  line-height: 2.5em;
  font-weight: 500;
}

.main-header-nav {
  margin: 0;
  width: auto;
  height: 150px;
  background-image: url("svg/yellow\ stripe.svg");
  background-repeat: repeat;
  background-size: cover;
  background-position: bottom;
}

.site-navigation {
  margin-top: -50px;
  margin-bottom: -50px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-navigation-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-navigation-link {
  padding: 50px;
  color: darkblue;
  font-family: Balsamiq Sans Bold, sans-serif;
  font-size: 30px;
  text-decoration: none;
  font-weight: 600;
}

.section-title {
  font-family: Balsamiq Sans, sans-serif;
}

.description-text {
  font-size: 1.5em;
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 1.4em;
}

.description-list {
  font-size: 1.5em;
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 2em;
}

.about {
  width: 1200px;
  height: 550px;
  background-image: url("svg/spot\ blue.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.about-title {
  padding: 120px 350px 0px 200px;
}

.about-text {
  width: 500px;
  margin: 0 200px 0 200px;
  margin-top: 20px;
  line-height: 1.4em;
  font-size: 19px;
}

.frida {
  width: 1200px;
  height: 550px;
  background-image: url("svg/spot\ pink\ frida.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.frida-title {
  padding: 120px 0px 0px 500px;
}

.frida-text {
  width: 500px;
  margin: 20px 500px 0;
  line-height: 1.4em;
  font-size: 20px;
}

.textbooks {
}

.textbook-title {
  text-align: center;
  margin-top: 70px;
  font-size: 2rem;
}

.textbook-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.textbook-item {
  width: 200px;
  height: 320px;
  margin-left: 0;
}

.textbook-item:first-child {
  background-image: url("img/suomen-mestari-01.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.textbook-item:nth-child(2) {
  background-image: url("img/suomen-mestari-02.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.textbook-item:nth-child(3) {
  background-image: url("img/suomen-mestari-03.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.textbook-item:last-child {
  background-image: url("img/suomen-mestari-04.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.main-footer {
  margin: 0;
  width: auto;
  height: 250px;
  background-image: url("svg/footer.svg");
  background-repeat: repeat;
  background-size: cover;
  background-position: bottom;
}
