@font-face {
  font-family: Roboto Regular;
  font-weight: normal;
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Balsamiq Sans Bold;
  font-weight: bold;
  src: url("fonts/BalsamiqSans-Bold.ttf");
}

@font-face {
  font-family: Flowext Bold;
  font-weight: bold;
  src: url("fonts/flowext-bold.otf ");
}

@font-face {
  font-family: Flowext;
  font-weight: normal;
  src: url("fonts/flowext.otf");
}

body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  color: darkblue;
  font-size: 22px;
}

.visually-hidden {
  display: none;
}

.main-header {
  min-height: 830px;
  margin: 0 auto;
  background-image: url("img/bg-header_photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  display: inline-block;
  background-color: rgb(158, 198, 231);
  width: 130px;
  height: 50px;
  color: white;
  font-family: Flowext, sans-serif;
  font-size: 24px;
  margin-top: 55px;
  margin-left: 50px;
  border-radius: 65px / 35px;
  text-align: center;
  padding-top: 20px;
}

.main-header-title {
  padding-top: 130px;
  text-align: center;
  font-family: Flowext, sans-serif;
  color: darkblue;
  font-size: 36px;
  line-height: 3.5em;
  font-weight: 700;
}

.main-nav {
  margin: 0;
  width: auto;  
  background-image: url("svg/yellow_stripe.svg");
  background-repeat: repeat;
  background-size: cover;
  background-position: bottom;
}

.site-navigation {
  min-height: 235px;
  margin-top: -50px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.site-navigation-link {
  padding: 20px;
  color: darkblue;
  font-family: Balsamiq Sans Bold, sans-serif;
  font-size: 30px;
  text-decoration: none;
  font-weight: 600;
}

.site-navigation-link:hover {
  text-decoration: underline;
  color: blue;
  opacity: 0.8;
}

.site-navigation-link:active {
  opacity: 0.5;
}

.section-title {
  font-family: Balsamiq Sans, sans-serif;
  font-size: 32px;
}

.anchor{
  text-decoration: none;
}

.description-text {
  margin: 0 auto;
  margin-top: 50px;
  font-size: 1.2em;
  line-height: 1.4em;
}

.description-list {
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 1.5em;
}

.about {
  min-height: 680px;
  background-image: url("svg/spot_blue.svg"), url("img/Ville's_photo.png");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, 30%;
  background-position: center, right 45%;
}

.about-title {
  /* padding: 150px 350px 0px 200px; */
  padding-top: 150px;
  text-align: center;
}

.about-text {
min-width: 500px;
  /* margin: 0 200px 0 200px; */
  margin-top: 20px;
  line-height: 1.4em;
  font-size: 20px;
}

.frida {
  min-height: 680px;
  background-image: url("img/friida_big.png"), url("svg/banner_frida.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 30%, contain;
  background-position: left 65px, center;
}

.frida-title {
  /* padding: 120px 0px 0px 500px; */
  padding-top: 150px;
  text-align: center;
}

.frida-text {
  /* width: 500px; */
  /* margin: 20px 500px 0; */
  line-height: 1.4em;
  font-size: 20px;
}

.textbook-title {
  text-align: center;
  margin-top: 70px;
  font-size: 2.5rem;
  margin-bottom: 70px;
}

.textbook-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.textbook-item {
  width: 200px;
  height: 320px;
  margin-left: 0;
}

.textbook-item:first-child {
  background-image: url("img/suomen-mestari-01.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.textbook-item:nth-child(2) {
  background-image: url("img/suomen-mestari-02.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.textbook-item:nth-child(3) {
  background-image: url("img/suomen-mestari-03.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.textbook-item:last-child {
  background-image: url("img/suomen-mestari-04.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.caption {
  text-align: center;
  margin-bottom: 150px;
}

.caption-link {
  text-decoration: none;
  color: darkblue;
}

.caption-link:hover {
  text-decoration: underline;
  color: blue;
  opacity: 0.8;
}

.caption-link:active {
  opacity: 0.5;
}

.main-footer {
  margin: -30px;
  width: auto;
  height: 250px;
  background-image: url("svg/footer.svg");
  background-repeat: repeat;
  background-size: cover;
  background-position: bottom;
}

.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 70px;
}

.social-item {
  display: flex;
  justify-content: center;
}

.social-link {
  width: 48px;
  height: 48px;  
  margin-left: 10px;
  text-decoration: none;
  color: transparent;
}

.social-link:hover {
  opacity: 0.8;
}

.social-link:active {
  opacity: 0.5;
}

.vkontakte-icon {
  background: url("./svg/icons_opisuomi/vk-icon.svg") no-repeat;
}

.facebook-icon {
  background: url("./svg/icons_opisuomi/fb-icon.svg") no-repeat;
}

.telegram-icon {
  background: url("./svg/icons_opisuomi/telega-icon.svg") no-repeat;
}

.whatsapp-icon {
  background: url("./svg/icons_opisuomi/whatsapp-icon.svg") no-repeat;
}

.discord-icon {
  background: url("./svg/icons_opisuomi/discord-icon.svg") no-repeat;
}

.youtube-icon {
  background: url("./svg/icons_opisuomi/youtube-icon.svg") no-repeat;
}

.skype-icon {
  background: url("./svg/icons_opisuomi/skype-icon.svg") no-repeat;
}

.instagram-icon {
  background: url("./svg/icons_opisuomi/insta-icon.svg") no-repeat;
}

.copyright {
  color: darkblue;
  text-align: center;
  margin-top: 50px;
}
